<!DOCTYPE html>
<html>
	<head>
		<title>Help | Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			Get help here
			<a href="http://www.zhutou.com"><em>Ruby on rails Tutorial book</em></a>
		</p>
	</body>
</html>

